
*.pyc

.idea/
gsom/applications/zoo_experiment/output/*
gsom/applications/zoo_experiment/data/creditcard.csv

gsom/applications/zoo_experiment/data/creditcard.txt

venv/Lib/site-packages/pip-19.0.3-py3.7.egg/EGG-INFO/
venv/*
venv/
